<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hokol.test">

    <application
        android:name=".common.IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Test -->
        <activity
            android:name=".TestInnerActivity"
            android:label="HoKol测试入口">
        </activity>
        <!-- Test -->
        <activity android:name=".http.login.TestLoginActivity"/>
        <activity android:name=".http.news.TestNewsActivity"/>
        <activity android:name=".widget.ADActivity"/>
        <activity android:name=".http.dynamic.TestDynamicActivity"/>
        <activity android:name=".widget.RecycleActivity"/>
        <activity android:name=".widget.GlideActivity"/>
        <activity android:name=".http.task.TestTaskActivity"/>
        <activity android:name=".http.home.TestHomeActivity"/>
        <activity android:name=".http.mine.TestUserActivity"/>
        <activity android:name=".http.setting.TestSettingActivity"/>
        <activity android:name=".http.area.TestAreaActivity"/>
        <activity android:name=".httpattach.AvatarActivity"/>
        <activity android:name=".test.SomeTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>